[submodule "GraficaPy"]
	path = GraficaPy
	url = https://github.com/lfuentes-xd/EchartsFlask
[submodule "Echarts"]
	path = Echarts
	url = https://github.com/lfuentes-xd/EchartFrontEnd
[submodule "Reportes"]
	path = Reportes
	url = https://github.com/lfuentes-xd/ReportesMD
